.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .7s ease;
}

.khan__buy-link:hover {
  opacity: .6;
}
